<html>
  <head>
    <title>landing Page</title>
  </head>
  <body>
    <header id="header" class="header">
      <figure id="header-img" class="header__logo">
        <img src="../assets/img/Logo_Isoft.jpg" class="header__logo__img"> 
      </figure>
      <nav id="nav-bar" class="header__nav-bar">
        <ul>
          <li>
            <a class="header__nav-bar__nav-link" href="#products">Productos</a>
          </li>
          <li>
            <a class="header__nav-bar__nav-link" href="#us">Nosotros</a>
          </li>
          <li>
            <a class="header__nav-bar__nav-link" href="#contact">Contactanos</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="ctn-title">
      <span class="ctn-title__line-one">Comienza a hacer tu proyecto</span>
      <span class="ctn-title__line-two">empresarial realidad</span>
    </div>
    <form id="form" class="form" onsubmit="submit">
      <label for="email" class="form__lbl-email">
        <input id="email" type="email" name="email" class="form__lbl-email__ipt-email" placeholder="Ingrese su correo electronico">
      </label>
    </form>


  </body>
  <footer>

  </footer>
</html>