.header{
    display: flex;
    @media screen and (max-width:520px){
        display: block;
    }
    &__logo{
        width: 50%;
        display: flex;
        justify-content: center;
        @media screen and (max-width:520px){
            width: 80%;
            margin:auto;
        }
        &__img{
            width: 100%;
            max-width: 80%;
            min-width: 20%;
            height: auto;
        }
    }
    &__nav-bar{
        width: 50%;
        display: flex;
        align-items: center;
        @media screen and (max-width:520px){
            width: 100%;
        }
        &__ul{
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 80%;
            margin:auto;
            padding:0;
            &__li{
                list-style: none;
                &__nav-link{
                    text-decoration: none;
                    font-family: 'DTLArgoST';
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: -0.8px;
                    text-align: center;
                    color: #0040a8;
                }
            }
        }
    }
}

.body{
    &__ctn-title{
        width: 80%;
        margin: auto;
        &__line-one{
            animation-name: title-animated-1;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            visibility: hidden;
            text-align: center;
        }
        &__line-two{
            display: flex;
            justify-content: center;
            animation-name: title-animated-2;
            animation-duration: 5s;
            animation-fill-mode: forwards;

        }

    }
}

@keyframes title-animated-1 {
    0%{
        left:-50%;
        visibility:visible;
        display: block;
        position: relative;
    }
    100%{
        visibility:visible;
        left:100%;

    }
}
@keyframes title-animated-2 {
    0%{
        visibility: visible;
        position: relative;
        left:-10;
    }
    100%{
        left:50%;
    }
}

